[defaults]
inventory = inventory/aws_ec2.yml
remote_user = ubuntu
private_key_file = ../keys/ansible_ed25519
host_key_checking = False
timeout = 30
pipelining = True
deprecation_warnings = False
roles_path = roles

[inventory]
enable_plugins = amazon.aws.aws_ec2, yaml, ini, host_list

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null